.HTML 
{
  align-items: center ;
  justify-content: center ; 
}

#banner{
  background-color:rgb(99, 146, 199);
  color:rgb(0, 0, 0);
  padding:20 px;
}

font
#footer{
  background-color:rgb(149, 149, 170);
  color:white;
  padding:20 px;
}

nav a {
color:black;
 margin:2 10px 0 12px;
  display:inline-block;
  width:10%;
  text-align:center;
}

.container {
  display:flex;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}